# Binários gerados pelo compilador Delphi (podem ser excluídos com segurança)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Arquivos autogerados pelo Delphi (informações duplicadas)
*.cfg
*.hpp
*Resource.rc

# Arquivos locais do Delphi (informações específicas do usuário)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dsv

# Histórico e backups do Delphi
__history/
__recovery/
*.~*

# Arquivo de estatísticas do Castalia (desde o XE7 o Castalia é distribuído com o Delphi)
*.stat

# Pasta de dependências do gerenciador Boss (https://github.com/HashLoad/boss)
modules/

# Pastas de build
bin/
obj/
.vs/
**/packages/

# Arquivos do usuário e configurações da IDE
*.user
*.suo
*.sln.ide
*.DotSettings.user

# Arquivos temporários e de log
*.log
*.tmp

# Pacotes NuGet gerados localmente
*.nupkg
*.snupkg

# Configurações do editor
.editorconfig